<html>
  <head>
    <title>Driver Map</title>
    <script>
      async function loadDriverMap() {
        const res = await fetch("/api/drivers/locations");
        const data = await res.json();

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 6,
          center: { lat: data[0].latitude, lng: data[0].longitude }
        });

        data.forEach(driver => {
          new google.maps.Marker({
            position: { lat: driver.latitude, lng: driver.longitude },
            map,
            title: `${driver.name} - ETA: ${driver.eta}`
          });
        });
      }

      window.initMap = loadDriverMap;
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
  </head>
  <body>
    <div id="map" style="width:100%; height:500px;"></div>
  </body>
</html>
